* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 300px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 10px;
}

.calc__btn {
    font-family: san -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px 5px;
    color: #fdfdfd;
    font-size: 25px;
    background-color: #333;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    border: none;
    outline: none;
}

.calc__btn:hover {
    filter: brightness(110%);
}

.calc__btn:active {
    filter: brightness(90%);
}


.calc__btn_width {
    grid-column: 1 / 3;
    border-radius: 34px;

}

.calc__result {
    font-family: san -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fdfdfd;
    height: 125px;
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 65px;
    font-weight: 200;
}

.smallerText {
    font-size: 45px;
}

.calc__btn_operator_top {
    color: rgb(0, 0, 0);
    background-color: #a6a6a6;
}

.calc__btn_operator_side {
    background-color: #ff9501;
}

.active {
    background-color: #fdfdfd;
    color: #ff9501;
}